<!-- Purpose of file: this is what will render inside the body (Main.handlebars) when the user is viewing the homepage -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Reviewpost</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="btn btn-primary btn-lg scrape-new">Scrape</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron text-center">
    <img src="../../assets/images/logo-img.png">
      <h1>Reviewpost</h1>
      <p>Get the latest articles from your favourite website with one click</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Scrape Articles</a></p>
    </div>

    <div class="container article-container">
    </div>

    <footer class="footer text-center">
      <p>Created by Nick Delpino</p>
    </footer>


    <!-- javaScript file that will dynamically populate everything else -->

    <script src="../../assets/js/index.js"></script>


