body {
    /*background: #00c6ff; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #00c6ff , #0072ff); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    font-size:16px;
    font-weight:200;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:200;
}

.icon-bar {
    background-color:#d81b0d;;
}

.jumbotron {
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.15),
                    rgba(0, 0, 0, 0.92)
            ),
            url(../images/jumbo.jpeg)no-repeat center center scroll;
    background-size: cover;
    border:0;
}

.jumbotron h1 {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}

.jumbotron p {
    color: #fff;
}

/*Article Notes Pop up*/
.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}

.list-group-item {
    border-radius:0;
}

textarea {
    width:100%;
    border: 1px solid #dddddd;
}

/*global green button style*/

.btn-primary {
    background: #d81b0d;
    width:175px;
    height:50px;
    margin:5px;
    border:0;
    border-radius:0;
    color: #fff;
    font-size:12px;
    font-weight:200;
    line-height:30px;
}

.btn-success {
    width:175px;
    height:50px;
    margin:5px;
    border:0;
    border-radius:0;
    background-color:#8bc34a;
    color: #fff;
    font-size:12px;
    font-weight:200;
    line-height:41px;
}

.btn-danger-square {
    width:175px;
    height:50px;
    margin:5px;
    border:0;
    border-radius:0;
    color: #fff;
    font-size:12px;
    font-weight:200;
    line-height:41px;
}

.btn-info-square {
    width:175px;
    height:50px;
    margin:5px;
    border:0;
    border-radius:0;
    color: #fff;
    font-size:12px;
    font-weight:200;
    line-height:41px;
}


.article-holder {
    background-color: #fff;
    margin-bottom:5px;
}

.article-headline {
    color: #3f51b5;
}

.save-button-holder {
    padding:0;
    margin:25px 0 25px 0;
}

.page-header {
    font-family: 'Merriweather', serif;
}

.title-being-streamed {
    color: #3f51b5;
}

.fa {
    color: #d81b0d;
}






