body {
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.navbar-default .navbar-toggle {
    border-color: transparent;
}

.jumbotron {
    background-color: transparent;
    border:0;
}

.jumbotron h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight:700;
    letter-spacing: 2px;
    color: #fff;
}

.btn {
    width:252px;
    margin:10px;
}

.panel {
    box-shadow:none;
}

.panel-heading {
    background-color: transparent;
}

.panel-default {
    background-color: transparent;
    border:0;
}

.alert-info {
    background-image: linear-gradient(to left,#00c6ff 0,#0072ff 100%);
    border: 0;
    color: #fff;;
}

/*Article Notes Pop up*/
.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}

.list-group-item {
    border-radius:0;
}

textarea {
    width:100%;
    border: 1px solid #dddddd;
}

/*global green button style*/

.btn-success {
    width:200px;
    border:0;
    border-radius:0;
    background-color:#8bc34a;
    color: #fff;
    font-weight:300;
    line-height:41px;
}

.btn-primary {
    border:0;
    border-radius:0;
    color: #fff;
    font-weight:300;
    line-height:41px;
}


.btn-danger-square {
    width:200px;
    border:0;
    border-radius:0;
    color: #fff;
    font-weight:300;
    line-height:41px;
}

.btn-info-square {
    width:200px;
    border:0;
    border-radius:0;
    color: #fff;
    font-weight:300;
    line-height:41px;
}









